<div class="eintrag-details">
  <div class="eintrag-details__back-button-wrapper">
    <div class="eintrag-details__back-button" (click)="onBackClicked()">
      <-
    </div>
  </div>
  <div class="eintrag-details__content" *ngIf="eintrag !== undefined; else noEintrag">
    <div class="eintrag-details__top-content">
      <div class="eintrag-details__title">
        {{ eintrag()?.title }}
      </div>
      <div class="eintrag-details__id-wrapper">
        <div>
          (ID:
        </div>
        <div class="eintrag-details__data eintrag-details__id-data">
          {{ eintrag()?.id }})
        </div>
      </div>
      <hr>
      <div class="eintrag-details__betrag-wrapper">
        <div class="eintrag-details__label">
          Betrag:
        </div>
        <div class="eintrag-details__data">
          {{ eintrag()?.betrag }}€
        </div>
      </div>
      <div class="eintrag-details__datum-wrapper">
        <div class="eintrag-details__label">
          Datum:
        </div>
        <div class="eintrag-details__data">
          {{ eintrag()?.date }}
        </div>
      </div>
      <div class="eintrag-details__uhrzeit-wrapper">
        <div class="eintrag-details__label">
          Uhrzeit:
        </div>
        <div class="eintrag-details__data">
          {{ eintrag()?.time }}
        </div>
      </div>
      <div class="eintrag-details__beschreibung-wrapper">
        <div class="eintrag-details__label eintrag-details__beschreibung-label">
          Beschreibung:
        </div>
        <div class="eintrag-details__data eintrag-details__beschreibung-data">
          {{ eintrag()?.beschreibung }}
        </div>
      </div>
      <div class="eintrag-details__spacer-bottom">

      </div>
    </div>

    <div class="eintrag-details__buttons-wrapper">
      <div class="eintrag-details__button" (click)="onDeleteButtonClicked()">
        delete
      </div>
      <div class="eintrag-details__button" (click)="onEditClicked()">
        edit
      </div>
    </div>
  </div>
</div>

<ng-template #noEintrag>
  <div class="eintrag-details__no-eintrag">
    Error: No Eintrag provided!
  </div>
</ng-template>
