<div class="budget-wrapper">
  <app-top-bar></app-top-bar>
  <div class="budget floating-box">
    <div class="budget__top">
      <div class="budget__element-wrapper">
        <div class="budget__element-label">
          mntl. Budget:
        </div>
        <input type="number" class="budget__element-input fb-input">
      </div>
      <div class="budget__element-wrapper">
        <div class="budget__element-label">
          Sparen:
        </div>
        <input type="number" class="budget__element-input fb-input">
      </div>
    </div>
    <hr class="hr">
    <div class="budget-bottom">
      <div class="budget__element-wrapper">
        <div class="budget__element-label">
          verfügbar für diesen Monat:
        </div>
        <div class="budget__element-data">

        </div>
      </div>
      <div class="budget__element-wrapper">
        <div class="budget__element-label">
          tägl. Budget:
        </div>
        <div class="budget__element-data">

        </div>
      </div>
    </div>
  </div>

</div>
