.time-filter-tb {
  width: calc(100% - 20px);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  top: 0;
  left: 0;
}

.time-filter-tb_button {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.time-filter-tb__active {
  background-color: lightgrey;
}

.slide-div {
   transform: translateX(-100%); /* Start off-screen to the left */
   transition: transform 0.2s ease-out; /* Smooth transition */
 }

.slide-in {
  transform: translateX(0); /* Move the div to its final position */
}

