<div class="time-filter-tb">
  <div class="time-filter-tb_button" [ngClass]="{'time-filter-tb__active': activeClass === 'heute'}" (click)="onHeuteClicked()">
    heute
  </div>
  <div class="time-filter-tb_button" [ngClass]="{'time-filter-tb__active': activeClass === 'woche'}" (click)="onWocheClicked()">
    diese woche
  </div>
  <div class="time-filter-tb_button" [ngClass]="{'time-filter-tb__active': activeClass === 'monat'}" (click)="onMonatClicked()">
    diesen monat
  </div>
  <div class="time-filter-tb_button" [ngClass]="{'time-filter-tb__active': activeClass === 'alle'}" (click)="onAlleClicked()">
    alle
  </div>
</div>
