.time-filter-tb {
  width: calc(100% - 20px);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.time-filter-tb_button {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.time-filter-tb__active {
  background-color: lightgrey;
}
