<div class="edit-eintrag">
  <div class="edit-eintrag__back-button-wrapper">
    <div class="edit-eintrag__back-button" (click)="onBackClicked()">
      <-
    </div>
  </div>
  @if(buchung() !== undefined){
    <div class="edit-eintrag__content">
      <div class="edit-eintrag__top-content">
        <input type="text" [(ngModel)]="buchung()!.title" class="edit-eintrag__title">
        <div class="edit-eintrag__id-wrapper">
          <div>
            (ID:
          </div>
          <div class="edit-eintrag__data eintrag-details__id-data">
            {{ buchung()!.id }})
          </div>
        </div>
        <hr>
        <div class="edit-eintrag__betrag-wrapper">
          <div class="edit-eintrag__label">
            Betrag:
          </div>
          <input type="number" [(ngModel)]="buchung()!.betrag" class="edit-eintrag__data">
        </div>
        <div class="edit-eintrag__datum-wrapper">
          <div class="edit-eintrag__label">
            Datum:
          </div>
          <input type="date" [value]="buchung()!.date.toLocaleDateString()" (change)="onDateChange($event)" class="edit-eintrag__data">
        </div>
        <div class="edit-eintrag__uhrzeit-wrapper">
          <div class="edit-eintrag__label">
            Uhrzeit:
          </div>
          <input type="time" [(ngModel)]="buchung()!.time" (change)="onTimeChange($event)" class="edit-eintrag__data">
        </div>
        <div class="edit-eintrag__beschreibung-wrapper">
          <div class="edit-eintrag__label edit-eintrag__beschreibung-label">
            Beschreibung:
          </div>
          <textarea [(ngModel)]="buchung()!.beschreibung" class="edit-eintrag__data edit-eintrag__beschreibung-data">

        </textarea>
        </div>
        <div class="edit-eintrag__spacer-bottom">

        </div>
      </div>

      <div class="edit-eintrag__buttons-wrapper">
        <div class="edit-eintrag__button" (click)="onCancelClicked()">
          cancel
        </div>
        <div class="edit-eintrag__button" (click)="onSaveClicked()">
          save
        </div>
      </div>
    </div>
  } @else {
    <div class="edit-eintrag__no-eintrag">
      Error: No Eintrag provided!
    </div>
  }

</div>

<ng-template #noEintrag>

</ng-template>
