body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  font-family: Tahoma;
  user-select: none;
  background-color: #e7f2ff;
}

all-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
