.eintraege-list {
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.eintraege-list__list {
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
}

.eintraege-list__topbar {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}
