.fix-kosten__eintrag {
}

.floating-box {
  padding: 0;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fix-kosten__eintrag-top {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.fix-kosten__eintrag-left {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 23px;
}

.fix-kosten__eintrag-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fix-kosten__eintrag-title {
  margin-left: 10px;
}

.fix-kosten__eintrag-betrag {
  font-size: 20px;
  width: 70px;
}

.fix-kosten__eintrag-menu-button {
  margin-right: 10px;
  padding: 10px;
}

.fix-kosten__eintrag-menu {
  position: absolute;
  z-index: 20;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: black 1px 1px 2px;
  right: 0;
  bottom: -70px;
}

.fix-kosten__eintrag-menu-element {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  z-index: 20;
}

.fix-kosten__eintrag-menu-background {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
}

.hr {
  margin: 0;
  border: none;
  background-color: black;
  height: 2px;
}

.fix-kosten__eintrag-bottom {
  height: 0;
  color: transparent;
  transition: height 0.2s ease-out;
  .hr {
    background-color: transparent;
  }
  .fix-kosten__eintrag-beschreibung {
    color: transparent;
   }

  .fix-kosten__eintrag-beschreibung-empty {
    color: transparent;
  }
}

.bottom-visible {
  color: black;
  height: 100px;
  width: 90%;
  transition: height 0.2s ease-out;
  .hr {
    margin: -5px 0 10px 0;
    background-color: #5c5c5c;
  }
  .fix-kosten__eintrag-beschreibung {
    color: black;
  }

  .fix-kosten__eintrag-beschreibung-empty {
    color: #636363;
  }
}
